@model IEnumerable<WebBanHangOnline.Models.SanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaNgan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaChiTiet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaGoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaKhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnhChinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaHangMoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaBanChay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTaNgan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTaChiTiet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaGoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaKhuyenMai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnhChinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaHangMoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaBanChay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSanPham }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSanPham }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSanPham })
        </td>
    </tr>
}

</table>
